<form class="">
    <div class="form-group">
        <label for="number">Number</label>
        <input type="number" class="form-control" id="number" name="number" [(ngModel)]="valueToCompute"
            aria-describedby="numberHelp" placeholder="Enter number">
        <small id="numberHelp" class="form-text text-muted">Insert an integer value to compute labseq.</small>
    </div>
    <div class="form-group">
        <label for="result">Result</label>
        <input type="result" class="form-control" id="result" name="result" [ngModel]="valueComputed" disabled="true">
        <small id="stopedHelp" class="form-text text-muted" *ngIf="isFetching">Processing...</small>
    </div>
    <div class="col-12">
        <button type="button" (click)="compute();" class="btn btn-primary mr-1">Compute</button>
        <button type="button" (click)="reset();" class="btn btn-secondary">Reset</button>
    </div>
</form>